{% extends "blog_base_html.html" %}


{% block content %}

<a href="http://killedoff.com">Return to homepage</a>
<br><br>
<a href="/newpost">Create new post</a>
<br>
<h2>Previous Blog Posts</h2>
<hr>

{% import 'macros/elements/post.html' as posttemp %}

{% for post in posts %}
	<div id="content" 
		style="height:200px;
		background-color:#EEEEEE;
		width:400px;
		float:left;  
		margin: 8px;
		border: 4px solid;">
	{{posttemp.post('post',post.title,post.content)}}
</div>
{% endfor %}

{% endblock %}
