{% extends "blog_base_html.html" %}
{% set Count = [] %}
{% for post in posts %}
	{% if Count.append('1') %}{% endif %}
{% endfor %}
{% set no_title="Nothing to display!" %}
{% set no_content="There's nothing in the DB or else it's not connected." %}


{% import 'macros/elements/post.html' as posttemp %}

{% block content %}
<section>
	<div class="header_div">
		<div class="left-header">
			<a href="http://killedoff.com">KilledOff.com</a>
			<br>
			<a href="./newpost">New Post</a>
		</div>
		<div class="right-header">
			<a class="contact-info" href="mailto:gmail@blakekiltoff.com">Contact: gmail@blakekiltoff.com</a>
		</div>
	</div>
</section>
<br>
<h2>Previous Blog Posts</h2>
<hr>
	<div class="posts_section">
{% for post in posts %}
		{{posttemp.post('post',post.title,post.content)}}
{% else %}
		{{posttemp.post('post', no_title, no_content)}}
{% endfor %}
	</div>

{% endblock %}
