{% extends "blog_base_html.html" %}
{% set Count = [] %}
{% for post in posts %}
	{% if Count.append('1') %}{% endif %}
{% endfor %}
{% set no_title="Nothing to display!" %}
{% set no_content="There's nothing in the DB or else it's not connected." %}


{% import 'macros/elements/post.html' as posttemp %}

{% block content %}
<div>
	<a href="http://killedoff.com">Return to homepage</a>
</div>
<div>
	<a href="./newpost">New Post</a>
</div>
<br>
<h2>Previous Blog Posts</h2>
<hr>
	<ul>
{% for post in posts %}
		<li>{{posttemp.post('post',post.title,post.content)}}</li>
{% else %}
		<li>{{posttemp.post('post', no_title, no_content)}}</li>
{% endfor %}
	</ul>

{% endblock %}
