{% extends "blog_base_html.html" %}


{% block content %}
<div class="welcome">
Welcome to my website. This is pretty much a learning project so don't spend too much time looking for cool stuff. <br><br>
Everything is running on the Google Apps Engine, written in Python and HTML templates with Jinja2 templates.
</div>
<h2>Contents</h2>
<div class="links">
	<ul>
	<a class="links" href="http://be.killedoff.com">
	Blake's Blog
	</a>
</ul>
<ul>
	<a class="links" href="https://www.google.com">
	Google!
	</a>
	</ul>
</div>
{% endblock %}
